/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: Inter-Variable, sans-serif;
    --accent-font: PressStart2P, fantasy;
    --fw-main-text: 400;
    --fw-title-text: 700;
    --background-color: #fff;
    --accent-color: #000;
    --button-text-color: #fff;
    --stroke-text-color: #fff;
    --sparks-color: #ff0000;
    --index: calc(1vh + 1vw);
  }